# Homework 2
### Rolando Santos
### https://github.com/rsantos2032/DSCI401/
### 2023-09-07

In [1]:
# Loading the Dataset
import pandas as pd
Teams = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/Teams.csv")
Violations = pd.read_csv("Violations.csv")

### Question 1: Using the Teams data frame in the Lahman package:

#### a. Create a data frame that is a subset of the Teams data frame that contains only the years from 2000 through 2009 and the variables yearID, W, and L.

In [14]:
teams_subset = Teams.loc[(Teams.yearID >= 2000) & (Teams.yearID <= 2009), ["yearID", "W", "L"]]
teams_subset

      yearID   W    L
2325    2000  82   80
2326    2000  85   77
2327    2000  95   67
2328    2000  74   88
2329    2000  85   77
...      ...  ..  ...
2620    2009  91   71
2621    2009  84   78
2622    2009  87   75
2623    2009  75   87
2624    2009  59  103

[300 rows x 3 columns]

#### b. How many years did the Chicago Cubs (teamID is “CHN”) hit at least 200 HRs in a season and what was the median number of wins in those seasons.

In [20]:
summarized_win[""] = (Teams.loc[Teams.teamID == "CHN"]).groupby(Teams.yearID).sum("HR")
summarized_win

,yearID,Rank,G,Ghome,W,L,R,AB,H,X2B,...,HA,HRA,BBA,SOA,E,DP,FP,attendance,BPF,PPF
yearID,,,,,,,,,,,,,,,,,,,,,
1876,1876,1,66,0.0,52,14,624,2748,926,131,...,608,6,29,51,282,33,0.899,0.0,112,106
1877,1877,5,60,0.0,26,33,366,2273,633,79,...,630,7,58,92,313,43,0.883,0.0,112,106
1878,1878,4,61,0.0,30,30,371,2333,677,91,...,577,4,35,175,304,37,0.891,0.0,106,105
1879,1879,4,83,0.0,46,33,437,3116,808,167,...,762,5,57,211,381,52,0.900,0.0,106,103
1880,1880,1,86,0.0,67,17,538,3135,876,164,...,622,8,129,367,329,41,0.913,0.0,106,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,2017,1,162,81.0,92,70,822,5496,1402,274,...,1294,194,554,1439,95,139,0.984,3199562.0,102,100
2018,2018,2,163,82.0,95,68,761,5624,1453,286,...,1319,157,622,1333,104,155,0.983,3181089.0,107,106
2019,2019,3,162,81.0,84,78,814,5461,1378,270,...,1376,195,534,1444,118,141,0.981,3094865.0,102,101
2020,2020,1,60,33.0,34,26,265,1918,422,82,...,451,74,182,523,30,46,0.986,0.0,100,99
2021,2021,4,162,81.0,71,91,705,5306,1255,225,...,1386,235,596,1358,87,149,0.985,1978934.0,100,101